<!-- _show.html.erb -->
<div class="container-fluid" style="width:400px;float:left">
	<h2 class="sub-header">Profile</h2></br>
	<p>
	  <strong>Name:</strong>
	  <%= current_user.name %>
	</p>

	<p>
	  <strong>Email:</strong>
	  <%= current_user.email %>
	</p>
</div>